<h1>Superhero smackdown</h1>

<h2>Existing Superheroes</h2>
<ul class="heroes">
</ul>

<form id="new-hero">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name='superhero[name]'>
  </div>
  <div>
    <label for="super_powers">Superpowers</label>
    <input type="text" id="super_powers" name='superhero[super_powers]'>
  </div>
  <div>
    <label for="description">Description</label>
    <textarea name="superhero[description]" rows="8" cols="40" id ="description"></textarea>
  </div>
  <input type="submit" value="Create Superhero">
</form>
